div.referencesBanner {
  display: flex;
  flex-direction: column;
  background-color: slategray;
  padding: 6rem;
  gap: 1rem;

  a {
    width: fit-content;
    font-weight: 500;
    color: aqua;
    text-decoration-line: none;
    line-height: normal;

    &:hover {
      text-decoration-line: underline;
      color: aquamarine;
    }
  }
}
