@use "$assets/colors" as *;

body {
  align-items: center;
  gap: 1.25rem;
  text-align: center;
  background-color: $primary-color;

  position: relative;
  min-height: 14rem;
  height: auto;
  width: 48rem;
}
