@use "cirrus-ui/src/cirrus-all" as *;

a.findReplaceLink {
  font-weight: 500;
  color: #2563eb;
  cursor: default;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

button.find-links {
  @extend .btn-info;
}

button.apply[data-ng-click="validateLinks()"] {
  @extend .btn-warning;
}

button.apply[data-ng-click="applyLinksReplace()"] {
  @extend .btn-success;
}

div.one-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: baseline;

  > span.ng-binding {
    margin-right: 1ch;
  }

  > input.link-to-input {
    width: 90% !important;
  }
}
