button {
  &.apply[data-ng-click="validateLinks()"] {
    background-color: gold;
  }

  &.apply[data-ng-click="applyLinksReplace()"] {
    background-color: lime;
  }
}

div {
  &.one-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: baseline;

    > span.ng-binding {
      margin-right: 1ch;
    }
  }

  &.root-path-selection,
  &.find-replace-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: baseline;
    gap: 0.375rem;
  }
}
