@use "cirrus-ui/src/cirrus-core" as *;

div.fixedLinksContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

input {
  width: fit-content;
}

.configSubSection {
  button {
    @extend .btn-link;
  }
}

div.workflow-package-page > div.configSection > div.configSubSection > * {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.5rem;

  > input {
    max-width: 80%;
  }

  > button#start-request-workflow {
    @extend .btn-success;

    width: 20%;
    height: 3rem;
    font-size: 0;

    &::before {
      content: "START";
      font-size: initial;
    }
  }
}
