body {
  width: 500px;
  height: auto;
  background-image: url(/src/assets/img/steampunk.jpg);
  background-size: 500px;
  background-position-x: 150px;
  background-position-y: -20px;
  background-repeat: no-repeat;
  background-color: #53241a;
  padding: 0.7rem;
}
