@use "normalize.css/normalize.css";
@use "@fontsource/open-sans/latin";

body {
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: center;
  height: auto;

  font-family: Open Sans;
}

p,
b,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label,
button,
textarea {
  color: white;
}

/* @layer base {

}

@theme {
  --animate-glitch: glitch 1s infinite;

  @keyframes glitch {
    0% {
      transform: translate(0, 0);
    }

    20% {
      transform: translate(-2px, -2px);
    }

    40% {
      transform: translate(2px, 2px);
    }

    60% {
      transform: translate(-2px, 2px);
    }

    80% {
      transform: translate(2px, -2px);
    }

    100% {
      transform: translate(0, 0);
    }
  }
}

body {
  @apply font-[Open_Sans];
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

::-webkit-scrollbar {
  @apply size-3 bg-gray-300;
}

::-webkit-scrollbar-thumb {
  @apply size-3 cursor-pointer rounded-2xl bg-gray-600;
}

::-webkit-scrollbar-thumb:hover {
  @apply size-3 bg-gray-700;
}

::-webkit-scrollbar-corner {
  @apply bg-gray-300;
}

svg {
  @apply text-white;
} */
