@use "normalize.css/normalize.css";
@use "@fontsource/open-sans/latin";
@use "$assets/variables" as *;

body {
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: center;

  width: $popup-width;
  height: auto;
  min-height: $popup-min-height;

  font-family: Open Sans;
}

p,
b,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label,
button,
textarea {
  color: white;
}

/* @layer base {

}

body {
  @apply font-[Open_Sans];
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

::-webkit-scrollbar {
  @apply size-3 bg-gray-300;
}

::-webkit-scrollbar-thumb {
  @apply size-3 cursor-pointer rounded-2xl bg-gray-600;
}

::-webkit-scrollbar-thumb:hover {
  @apply size-3 bg-gray-700;
}

::-webkit-scrollbar-corner {
  @apply bg-gray-300;
}

svg {
  @apply text-white;
} */
