$primary-color: #0a090c;
$secondary-color: #f0edee;
$tertiary-color-1: #07393c;
$tertiary-color-2: #2c666e;
$tertiary-color-3: #90ddf0;
$tertiary-color-4: #0b2e47;
$tertiary-color-5: #4e869c;

$popup-width: 48rem;
$popup-min-height: 14rem;
