a.findReplaceLink {
  font-weight: 500;
  color: #2563eb;
  cursor: default;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

button.find-links {
  background-color: rgb(139 168 250);
}

button.apply[data-ng-click="validateLinks()"] {
  background-color: rgb(234 179 8);
}

button.apply[data-ng-click="applyLinksReplace()"] {
  background-color: rgb(22 163 74);
}
